<app-header></app-header>
<div class="p-4 d-flex justify-content-end">
  <button
    mat-flat-button
    color="primary"
    [routerLink]="'/adicionar-usuario'"
    [disabled]="usuarioLogado.tipo !== 'ADMIN'"
  >
    <mat-icon>add</mat-icon> Novo usuário
  </button>

  <h1>{{ usuario }}</h1>
  <div class="container d-flex flex-column">
    <mat-accordion *ngFor="let time of times">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ time.nome }} </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <ng-container *ngFor="let funcionario of time.funcionarios">
            <mat-card class="mb-5 col-3">
              <mat-card-header>
                <mat-card-title>{{
                  funcionario.nome | uppercase
                }}</mat-card-title>
                <mat-card-subtitle>{{ funcionario.cargo }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>Email : {{ funcionario.email }}</p>
                <p>Senha : {{ funcionario.senha }}</p>
                <p>Salário : {{ funcionario.salario | currency : "BRL" }}</p>
                <p>Tipo : {{ funcionario.tipo }}</p>
                <p>Time : {{ funcionario.time }}</p>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-actions>
                <button
                  (click)="openDialogDeleteUser(funcionario)"
                  mat-flat-button
                  color="danger"
                  [disabled]="usuarioLogado.tipo !== 'ADMIN'"
                >
                  Excluir
                </button>
                <!-- (click)="openDialogEditUser(funcionario)" -->
                <button
                  mat-flat-button
                  color="primary"
                  (click)="openDialogEditUser(funcionario)"
                >
                  Editar
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
