<div class="h-100 d-flex justify-content-center align-items-center bg-primary">
  <mat-card>
    <mat-card-header class="d-flex justify-content-center mb-3">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="email" name="email" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="password" name="password" />
          </mat-form-field>
          <button
            mat-flat-button
            color="primary"
            [disabled]="!email || !password"
            class="w-100 custom-button"
            (click)="login()"
          >
            Entrar
          </button>
        </form>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</div>
